extends layout

block content
    img.image(src="/Omega.png" alt="Omega" class='logo')
    div(class="messageBoard")
        div(class="msgHead")
            div(class="message")
                p what the fuck is goind on here ...i dont even fuckin know..
    p 
        a(href="/create") Add new person    