extends layout
block content   
    div(class="messageBoard")
        div(class="msgHead")
            p #{username}:
            div(class="message")
                form(id='form', method='post', action='/')
                    textarea(name="userPosts", cols="50", rows="5")
                    br
                    input(type='submit', value='Post!', class='signUp', id='button')
    script().
        var active = '#{session}';