extends layout
block content   
    div(class="messageBoard")
        div(class="msgHead")
            p User Name: 
            div(class="message")
                form()
                    p what the fuck is goind on here ...i dont even fuckin know..
    p 
        a(href="/create") Add new person    