extends layout
block content   
    div(class="messageBoard")
        div(class="msgHead")
            p User Name: 
            div(class="message")
                form(id='form', method='post', action='/')
                    input(type='textarea', name='userPost')
                    br
                    input(type='submit', value='Post!', class='post', id='button')
    p 
        a(href="/create") Add new person    