extends layout
block content
  head
    title Authentication
  body
    div(class="box" id="loginBox")
      form(id='form', method='post', action='/login')
        label Username:
        br
        input(type='text', name='username')
        br
        label Password: 
        br
        input(type='password', name='password')
        br
        input(type='submit', value='Login')
    script().
        var active = '#{session}';