html{
    background-color: skyblue;
}

nav ul{
    border: solid black 4px;
    background-color: whitesmoke;
    display: inline-block;
    width: 99%;
    margin: 2px;
    padding: 0px;    
    text-align: center;
    list-style-type: none;
}

.menuItem{
    border: solid #222222 2px;
    background-color: mediumpurple;
    margin: 5px;
    padding: 2px 4px;
    font-size: 24px;
    text-decoration: none;
}
.L{
    float: left;
}
.R{
    float: right;
}
nav a:link {
    color: #222222;
    background-color: mediumpurple;
}
nav a:visited {
    color:#222222;
    background-color: mediumpurple;
}
nav a:hover {
    color: #222222;
    background-color: rgb(173, 147, 224);
}
nav a:active {
    color: #222222;
    background-color: rgb(199, 184, 228);    
}

.box{
    margin: 0px 0px 0px 25%;
    width: 50%;
    display: inline-block;
    border: solid black 3px;
    background-color: antiquewhite;
}
form{
    font-family: Georgia;
    margin: 10px;
}
.signUp{
    float: right;
    margin: 10px;
    font-size: 20px;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:150px;
    height:110px;
}