html{
    background-color: #0e0b16;    
}

nav ul{
    border-bottom: solid #E7DfDD 1px;
    font-family: AntiqueQuest;
    font-size: 2em;
    display: inline-block;
    width: 99%;
    margin: 2px;
    margin-bottom: 40px;
    padding: 3px;    
    text-align: center;
    list-style-type: none;
}

.menuItem{
    border: solid #E7DfDD 1px;
    border-radius: 5px;
    margin: 5px;
    padding: 2px 6px;
    text-decoration: none;
}

.L{
    float: left;
}

.R{
    float: right;
}

nav a:link {
    color: #A239CA;
    background-color: #4717F6;
}

nav a:visited {
    color:#A239CA;
    font-size: 1em;
    background-color: #4717F6;
}

nav a:hover {
    color: #A239CA;
    background-color: rgb(57, 19, 194);
}

nav a:active {
    color: #A239CA;
    background-color: rgb(57, 19, 194);    
}

.box{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 5px;
    max-width: 500px;
    display: block;
    text-align: center;
    background-color: #E7DfDD;
    border-radius: 10px;
}
form{
    font-family: Georgia;
    margin: 10px;
}
input{
    margin: 7px 0px;
}
select{
    margin: 7px 0px;
}
.signUp{
    background-color: #4717F6;
    color: #A239CA;
    border: solid #0e0b16 2px;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    width: 50%;
    font-size: 20px;
}

.signUp:hover{
    color: #A239CA;
    background-color: rgb(57, 19, 194)
}

.logo{
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width:150px;
    height:110px;
}

.accountPic{
    float: left;
    display: block;
    margin-left: 20px;
    width: 150px;
    height: 110px;
}

.button{
    background-color: #4717F6;
    color: #A239CA;
    border: solid #0e0b16 2px;
    border-radius: 5px;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
}

table.adminTable{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-width: 1px;
}

table.adminTable th{
    border-width: 3px;
    padding: 8px;
    color: #A239CA;
    background: #4717F6;
}

table.adminTable td{
    border-width: 3px;
    padding: 8px;
    background: #E7DfDD;
}

div.messageBoard{
    min-width: 300px;
    min-height: 200px;
    max-width: 500px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;   
    background-color: #E7DfDD;
    border-width: 1px;
    border-color: #559;
    border-radius: 5px;
}

div.msgHead{
    margin: 5px;
}

div.message{
    padding: 30px;
    text-align: center;
}

#button:hover{
    cursor: pointer;
}

@font-face {
    font-family: Alice;
    src: url(alice-regular.ttf);
}

@font-face {
    font-family: AtelierOmega;
    src: url(atelier-omega.ttf);
}

@font-face {
    font-family: AntiqueQuest;
    src: url(antique-quest-st.ttf);
}