html{
    background-color: #0e0b16;
}

nav ul{
    border-bottom: solid #E7DfDD 1px;
    display: inline-block;
    width: 99%;
    margin: 2px;
    padding: 0px;    
    text-align: center;
    list-style-type: none;
}

.menuItem{
    border-radius: 5px;
    margin: 5px;
    padding: 2px 4px;
    font-size: 24px;
    text-decoration: none;
}

.L{
    float: left;
}

.R{
    float: right;
}

nav a:link {
    color: #A239CA;
    background-color: #4717F6;
}

nav a:visited {
    color:#A239CA;
    font-size: 1em;
    background-color: #4717F6;
}

nav a:hover {
    color: #A239CA;
    background-color: rgb(57, 19, 194);
}

nav a:active {
    color: #A239CA;
    background-color: rgb(57, 19, 194);    
}

.box{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 5px;
    max-width: 500px;
    display: block;
    text-align: center;
    align-content: center;
    background-color: #E7DfDD;
}
form{
    font-family: Georgia;
    margin: 10px;
}
input{
    margin: 7px 0px;
}
select{
    margin: 7px 0px;
}
.signUp{
    background-color: #4717F6;
    color: #A239CA;
    border-radius: 5px;
    border: none;
    margin: 10px;
    padding: 5px;
    width: 50%;
    font-size: 20px;
}

.signUp:hover{
    color: #A239CA;
    background-color: rgb(57, 19, 194)
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:150px;
    height:110px;
}

table.adminTable{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-width: 1px;
}

table.adminTable th{
    border-width: 3px;
    padding: 8px;
    color: #A239CA;
    background: #4717F6;
}

table.adminTable td{
    border-width: 3px;
    padding: 8px;
    background: #E7DfDD;
}

div.messageBoard{
    min-width: 300px;
    min-height: 200px;
    padding: 30px;
    margin: 10px;
    text-align: center;
    background-color: #E7DfDD;
    border-width: 1px;
    border-color: #559;
    border-radius: 5px;
}
